.App {
  text-align: center;
  color: coral;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.name{
  text-align: center;
  color: #26008d;
/* border: 8px; */
 border-style: dotted;
 border-radius: 15px; 
  background-color: rgb(0, 238, 255);
  text-shadow: 2px 2px 5px red;
 
}
.address{
  color: rgb(0, 0, 0);
  border-style: dotted;
  border-radius: 15px; 
   background-color: rgb(37, 150, 135);
   text-shadow: 2px 2px 5px red;
    text-align: center;
  
}
.img{
  margin: 10px;
  border: 1px solid #26008d;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 1px rgb(71, 50, 185);
  
}
